body {
    background-image: url(../images/connectwork.png)
}

.container {
    width: 980px;
    height: 500px;
    background-color: aliceblue;
}
h2 {
    font-family: 'Anton', sans-serif;
}
h4 {
    font-family: 'Josefin Sans', sans-serif;
}